<div class="account-list">
  <div class="layui-row">
    <fieldset class="layui-elem-field layui-field-title">
      <legend>管理员列表</legend>
    </fieldset>

    <table class="layui-table">
      <colgroup>
        <col width="40%" >
        <col width="40%">
        <col width="20%">
        <col>
      </colgroup>
      <thead>
      <tr>
        <th>用户名称</th>
        <th>用户ID</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let list of accountList">
        <td>{{list.user_name}}</td>
        <td>{{list.id}}</td>
        <td>
          <button class="layui-btn" (click)="goDetail(list.id)">详情</button>
        </td>
      </tr>
      </tbody>
    </table>

    <div id="accountListsPagination" style="text-align: right;margin-right: 20px"></div>
  </div>
</div>
