<div class="appOrderDetail">
  <fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
    <legend>订单详情</legend>
  </fieldset>
  <div class="layui-row">
    <span class="detailTitle">订单处理信息</span>

    <table class="layui-table">
      <colgroup>
        <col width="20%">
        <col width="20%">
        <col width="20%">
        <col width="40%">
        <col>
      </colgroup>
      <thead>
      <tr>
        <th>操作时间</th>
        <th>操作类型</th>
        <th>操作信息</th>
        <th>操作人</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>2011-11-23 23:59:01</td>
        <td>订单提交</td>
        <td>订单提交成功</td>
        <td>王宇  13809876543</td>
      </tr>
      <tr>
        <td>2011-11-23 23:59:01</td>
        <td>订单提交</td>
        <td>订单提交成功</td>
        <td>王宇  13809876543</td>
      </tr>
      <tr>
        <td>2011-11-23 23:59:01</td>
        <td>订单提交</td>
        <td>订单提交成功</td>
        <td>王宇  13809876543</td>
      </tr>
      <tr>
        <td>2011-11-23 23:59:01</td>
        <td>订单提交</td>
        <td>订单提交成功</td>
        <td>王宇  13809876543</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="layui-row">
    <span class="detailTitle">商品信息</span>

    <table class="layui-table">
      <colgroup>
        <col width="20%">
        <col width="20%">
        <col width="20%">
        <col width="20%">
        <col width="20%">
        <col>
      </colgroup>
      <thead>
      <tr>
        <th>商品编号</th>
        <th>商品名称</th>
        <th>商品单价</th>
        <th>商品数量</th>
        <th>金额</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>HK123456789</td>
        <td>进口头层黄牛皮荔枝纹</td>
        <td>￥20.00元/平方英尺</td>
        <td>20平方英尺</td>
        <td>￥400.00</td>
      </tr>
      <tr>
        <td>HK123456789</td>
        <td>进口头层黄牛皮荔枝纹</td>
        <td>￥20.00元/平方英尺</td>
        <td>20平方英尺</td>
        <td>￥400.00</td>
      </tr><tr>
        <td>HK123456789</td>
        <td>进口头层黄牛皮荔枝纹</td>
        <td>￥20.00元/平方英尺</td>
        <td>20平方英尺</td>
        <td>￥400.00</td>
      </tr>
      </tbody>
    </table>
    <div class="detailPrice">
      <table class="layui-table">
        <colgroup>
          <col width="80%">
          <col width="20%">

          <col>
        </colgroup>
        <tbody>
        <tr>
          <td>商品金额总计:</td>
          <td>￥400.00</td>

        </tr>
        <tr>
          <td>+ 运费:</td>
          <td>￥10.00</td>

        </tr>
        <tr style="font-weight: 600">
          <td>共需支付:</td>
          <td>￥410.00</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="layui-row" style="margin-top: 10px">
    <span class="detailTitle">付款方式</span>
    <span style="margin-left: 10px">支付状态: 未支付</span>
    <span style="margin-left: 10px">支付方式: 转账支付</span>
    <table class="layui-table">
      <colgroup>
        <col width="10%">
        <col width="20%">
        <col width="20%">
        <col width="10%">
        <col width="20%">
        <col>
      </colgroup>
      <thead>
      <tr>
        <th>付款阶段</th>
        <th>付款金额</th>
        <th>付款条件</th>
        <th>付款情况</th>
        <th>付款时间</th>
        <th>付款凭证</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>1</td>
        <td>￥100,000.00</td>
        <td>下单时立即支付￥100,000.00元</td>
        <td>已付款</td>
        <td>2011-07-09 12:09:09</td>
        <td><a href="../../../../assets/imgs/t.docx" target="_blank">点击下载</a></td>
      </tr>
      <tr>
        <td>1</td>
        <td>￥100,000.00</td>
        <td>下单时立即支付￥100,000.00元</td>
        <td>已付款</td>
        <td>2011-07-09 12:09:09</td>
        <td><a href="../../../../assets/imgs/t.docx" target="_blank">点击下载</a></td>
      </tr>
      <tr>
        <td>1</td>
        <td>￥100,000.00</td>
        <td>下单时立即支付￥100,000.00元</td>
        <td>已付款</td>
        <td>2011-07-09 12:09:09</td>
        <td><a href="../../../../assets/imgs/t.docx" target="_blank">点击下载</a></td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="layui-row detailConsignee" style="margin-top: 10px">
    <span class="detailTitle" style="display: block; margin-top: 10px;">收货信息</span>
    <table class="layui-table">
      <colgroup>
        <col width="20%">
        <col width="80%">
        <col>
      </colgroup>
      <tbody>
      <tr>
        <td style="padding-left: 28px">收货人: 王宇</td>
      </tr>
      <tr>
        <td>收货地址: 广东省广州市海珠区新港东路1068号中洲中心北塔6楼</td>
      </tr>
      <tr>
        <td>联系电话: 18600001999</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="layui-row detailConsignee" style="margin-top: 10px">
    <span class="detailTitle" style="display: block; margin-top: 10px;">收货信息</span>
    <table class="layui-table">
      <colgroup>
        <col width="30%">
        <col width="30%">
        <col width="40%">
        <col>
      </colgroup>
      <tbody>
      <tr>
        <td>配送方式: 普通快递</td>
        <td>物流公司: 顺丰速递</td>
        <td>物流单号: 9983333332</td>
      </tr>
      <tr>
        <td style="padding-left: 44px">运费: ￥10.00</td>
        <td>送货日期: 2011-07-09</td>
        <td>发货地址: 广东省广州市海珠区新港东路1068号中洲中心北塔6楼</td>
      </tr>
      </tbody>
    </table>
    <div>
      <span style="margin-left: 44px;display: block; margin-bottom: 10px;">备注: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</span>
    </div>

  </div>

  <div class="layui-row detailConsignee" style="margin-top: 10px">
    <span class="detailTitle" style="display: block; margin-top: 10px;">发票信息</span>
    <table class="layui-table">
      <colgroup>
        <col width="30%">
        <col width="30%">
        <col width="40%">
        <col>
      </colgroup>
      <tbody>
      <tr>
        <td>发票抬头: 广州市XXX有限公司 </td>
        <td>发票种类: 专用增值税发票 </td>
        <td>发票类型: 纸质发票</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="layui-row detailConsignee" style="margin-top: 10px">
    <span class="detailTitle" style="display: block; margin-top: 10px;">支付信息</span>
    <table class="layui-table">
      <colgroup>
        <col width="30%">
        <col width="30%">
        <col width="40%">
        <col>
      </colgroup>
      <tbody>
      <tr>
        <td>支付方式: 平台担保 </td>
        <td>付款时间: 2011-07-09 12：09：09 </td>
        <td>支付金额: ￥410.00</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="layui-row detailConsignee" style="margin-top: 10px">
    <span class="detailTitle" style="display: block; margin-top: 10px;">合同信息</span>
    <table class="layui-table">
      <colgroup>
        <col width="30%">
        <col width="70%">
        <col>
      </colgroup>
      <tbody>
      <tr>
        <td>合同签订：已签合同  </td>
        <td>合同文件：<a href="../../../../assets/imgs/111.pdf" target="_blank" download>《XX商品购销合同.pdf》</a>   点击可打开合同文件！</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
