<div class="login">
  <img src="../../assets/imgs/login_bg.jpg" >


  <div class="login-content">
    <div class="login-content-bg"></div>
    <div class="logo">
      <img src="../../assets/imgs/logo_big.png" alt="logo">
    </div>
    <div class="login-content-from">
      <h5>登录</h5>
      <input type="text" [(ngModel)]='userName' placeholder="请输入用户名" />
      <input type="password" [(ngModel)]='passWord'placeholder="请输入密码" />
      <div class="forgetPassword">
        <a href="/forgetPassword">忘记密码</a>
      </div>
      <div class="submit" (click)="login()">
        登录
      </div>
      <div class="register">
        <a href="/register">注册</a>
      </div>
    </div>

  </div>

</div>

<!-- Large modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Large modal</button>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      {{prompt}}
    </div>
  </div>
</div>
