<div class="login">
  <div class="logo">
    <img src="../../assets/imgs/logo_big.png" alt="logo">
  </div>
  <div class="login-content">
    <h5>登录</h5>
    <input type="text" [(ngModel)]='userName' placeholder="请输入用户名" />
    <input type="password" placeholder="请输入密码" />
    <div class="forgetPassword">
      <a href="/forgetPassword">忘记密码</a>
    </div>
    <div class="submit" (click)="login()">
      登录
    </div>
    <div class="register">
      <a href="/register">注册</a>
    </div>
  </div>

</div>
