<div class="warp">
  <div class="header">
    <div class="logo"><img src="../../assets/imgs/logo_big.png" alt="logo"></div>
    <div class="login cl">
      <a href="">nav1</a>
      <a href="javascript:void(0);">
        {{username || "姓名"}}
        <div class="login-ul">
          <ul>
            <li>我的资料</li>
            <li>我消息</li>
            <li>退出</li>
          </ul>
        </div>
      </a>
    </div>
  </div>
  <div class="content cl">
    <div class="sidebar">
      <div *ngFor="let list of sidebarLists;let i = index">
        <a routerLink="{{list.url}}">
          <h5 (click)="todoShow(i)">{{list.h5}}</h5><img [ngClass]="{'iconActive':i===isUlShow}" src="../../assets/imgs/arrows_right.png" alt="箭头">
          <div>
            <ul *ngIf="i === isUlShow">
              <li *ngFor="let o of list.lists">
                <a routerLink="{{o.url}}">{{o.txt}}</a>
              </li>
            </ul>
          </div>
        </a>
      </div>

    </div>
    <div class="details">
      <router-outlet></router-outlet>
    </div>

  </div>

  <div class="footer">
    底部
  </div>
</div>

