@charset "utf-8";

/* common */
* { word-wrap: break-word; }
ul,ol,li,span,p,form,h1,h2,h3,h4,h5,h6,dl,dt,dd { margin: 0; padding: 0; border: 0; z-index:inherit; }
img,a img { border:0; margin:0; padding:0; }
ul,ol,li { list-style:none; }
* { margin:0; padding:0; }
html,body { height:100%; font-family:Microsoft YaHei, Helvetica, sans-serif; color:#4C4C4C; }
html{font-size: 312.5%;}
body{font-size:.28rem; line-height:1.6;}
input,select,textarea,button { font:14px/1.5  Microsoft YaHei, Helvetica, sans-serif; }
body, ul, ol, li, dl, dd, p, h1, h2, h3, h4, h5, h6, form, fieldset, .pr, .pc { margin: 0; padding: 0; }
table { empty-cells: show; border-collapse: collapse; }
caption, th { text-align: left; font-weight: 400; }
ul li, .xl li { list-style: none; }
h1, h2, h3, h4, h5, h6 { font-size: 1em; }
em, cite, i { font-style: normal; }
a img { border: none; }
label { cursor: pointer; }
.bg { background:#f9f9f9; }
.rq { color: red; }

a:link,a:visited,a:hover { color:#4C4C4C; text-decoration:none; }
.blue { color: #0086CE; }
a.blue:link, a.blue:visited, a.blue:hover { color:#0086CE; text-decoration:none; }
.grey { color:#9C9C9C; }
a.grey:link, a.grey:visited, a.grey:hover { color:#9C9C9C; text-decoration:none; }
.orange { color:#F60; }
a.orange:link,a.orange:visited,a.orange:hover{color:#F60;text-decoration:none }
.color6{color:#666;}
.coloreb{color:#eb3300;}

.z { float: left; } .y { float: right; }
.cl:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; } .cl { zoom: 1; }
html{
  font-size: 100px;
  background-color: #fff;
}
body{
  background-color: #fff;
}
