<div class="finder-list">
  <div class="layui-row">
    <fieldset class="layui-elem-field layui-field-title">
      <legend>找料员列表</legend>
    </fieldset>

    <table class="layui-table">
      <colgroup>
        <col width="40%" >
        <col width="40%">
        <col width="20%">
        <col>
      </colgroup>
      <thead>
      <tr>
        <th>备注</th>
        <th>状态</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let list of lists">
        <td>{{list.field_desc}}</td>
        <td>{{list.field_desc}}</td>
        <td>
          <button class="layui-btn" (click)="goDetail(list.id)">详情</button>
          <button class="layui-btn" >确认收款</button>
        </td>
      </tr>
      </tbody>
    </table>

    <div id="finderListsPagination"></div>
  </div>
</div>
