<table lay-filter="demo">
  <thead>
  <tr>
    <th lay-data="{field:'username', width:100}">昵称</th>
    <th lay-data="{field:'experience', width:80, sort:true}">积分</th>
    <th lay-data="{field:'sign',width:200}">签名</th>
    <th lay-data="{field:'btn', width:80}">btn</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>贤心1</td>
    <td>66</td>
    <td>人生就像是一场修行a</td>
    <td>btn</td>
  </tr>
  <tr>
    <td>贤心2</td>
    <td>88</td>
    <td>人生就像是一场修行b</td>
    <td>btn</td>
  </tr>
  <tr (click)="dd()">
    <td>贤心3</td>
    <td>33</td>
    <td>人生就像是一场修行c</td>
    <td class="ddd"> <span (click)="dd()" style="color: red">222</span> 1111</td>
  </tr>
  </tbody>
</table>
<div class="aaa">1111</div>
<div id="demo7"></div>
